<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.GoodsInfoOwnerMapper">
    
    <resultMap type="GoodsInfoOwner" id="GoodsInfoOwnerResult">
        <result property="id"    column="id"    />
        <result property="goodsCode"    column="goods_code"    />
        <result property="goodsNbCode"    column="goods_nb_code"    />
        <result property="goodsSptCode"    column="goods_spt_code"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="goodsViceDw"    column="goods_vice_dw"    />
        <result property="goodsDw"    column="goods_dw"    />
        <result property="goodsAssistDw"    column="goods_assist_dw"    />
        <result property="goodsImg"    column="goods_img"    />
        <result property="goodsCodeImg"    column="goods_code_img"    />
        <result property="createBy"    column="create_by"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="goodsType"    column="goods_type"    />
        <result property="goodsAddress"    column="goods_address"    />
        <result property="goodsGg"    column="goods_gg"    />
        <result property="isSend"    column="is_send"    />
        <result property="kcNum"    column="kc_num"    />
    </resultMap>

    <sql id="selectGoodsInfoOwnerVo">
        select * from goods_info_owner
    </sql>

    <sql id="selectGoodsInfoOwnerVoByRole">
        select a.*,(select nick_name from sys_user where user_name=a.create_by) as create_name

        from goods_info_owner a
        join sys_user u on a.create_by=u.user_name
        left join sys_dept d on u.dept_id = d.dept_id
    </sql>

    <select id="selectGoodsInfoOwnerList" parameterType="GoodsInfoOwner" resultMap="GoodsInfoOwnerResult">
        <include refid="selectGoodsInfoOwnerVoByRole"/>
        <where>  
            <if test="goodsCode != null  and goodsCode != ''"> and goods_code = #{goodsCode}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="goodsViceDw != null  and goodsViceDw != ''"> and goods_vice_dw = #{goodsViceDw}</if>
            <if test="goodsDw != null  and goodsDw != ''"> and goods_dw = #{goodsDw}</if>
            <if test="goodsImg != null  and goodsImg != ''"> and goods_img = #{goodsImg}</if>
            <if test="goodsType != null "> and goods_type = #{goodsType}</if>
            <if test="goodsAddress != null  and goodsAddress != ''"> and goods_address = #{goodsAddress}</if>
            <if test="createBy != null  and createBy != ''"> and a.create_by = #{createBy}</if>
            <if test="isSend != null "> and is_send = #{isSend}</if>
            ${dataScope}
        </where>
        order by a.goods_address desc,a.create_time desc
    </select>

    <select id="selectGoodsInfoOwnerByRkList" parameterType="GoodsInfoOwner" resultMap="GoodsInfoOwnerResult">
        select a.*,IFNULL((select sum(goods_num) from kc_info where goods_code=a.goods_code and store_num=#{storeNum}),0) as kc_num from goods_info_owner a
        join sys_user u on a.create_by=u.user_name
        left join sys_dept d on u.dept_id = d.dept_id
        <where>
            <if test="goodsCode != null  and goodsCode != ''"> and goods_code = #{goodsCode}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="goodsViceDw != null  and goodsViceDw != ''"> and goods_vice_dw = #{goodsViceDw}</if>
            <if test="goodsDw != null  and goodsDw != ''"> and goods_dw = #{goodsDw}</if>
            <if test="goodsImg != null  and goodsImg != ''"> and goods_img = #{goodsImg}</if>
            <if test="goodsType != null "> and goods_type = #{goodsType}</if>
            <if test="goodsAddress != null  and goodsAddress != ''"> and goods_address = #{goodsAddress}</if>
            <if test="createBy != null  and createBy != ''"> and a.create_by = #{createBy}</if>
            <if test="isSend != null "> and is_send = #{isSend}</if>
            ${dataScope}
        </where>
        order by a.create_time desc
    </select>

    <!--市平台查询所有商品档案-->
    <select id="selectGoodsInfoOwnerListBySpt" parameterType="GoodsInfoOwner" resultMap="GoodsInfoOwnerResult">
        select a.*,
        (select distinct nick_name from sys_user where user_name=a.create_by) as create_name
        from goods_info_owner a
        <where>
            a.create_by in (select owner_code  from owner_info)
            <if test="goodsCode != null  and goodsCode != ''"> and goods_code = #{goodsCode}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="goodsViceDw != null  and goodsViceDw != ''"> and goods_vice_dw = #{goodsViceDw}</if>
            <if test="goodsDw != null  and goodsDw != ''"> and goods_dw = #{goodsDw}</if>
            <if test="goodsImg != null  and goodsImg != ''"> and goods_img = #{goodsImg}</if>
            <if test="goodsType != null "> and goods_type = #{goodsType}</if>
            <if test="goodsAddress != null  and goodsAddress != ''"> and goods_address = #{goodsAddress}</if>
            <if test="createBy != null  and createBy != ''"> and a.create_by = #{createBy}</if>
            <if test="isSend != null "> and is_send = #{isSend}</if>
        </where>
        order by a.create_time desc
    </select>
    
    <select id="selectGoodsInfoOwnerById" parameterType="Integer" resultMap="GoodsInfoOwnerResult">
        <include refid="selectGoodsInfoOwnerVo"/>
        where id = #{id}
    </select>

    <select id="selectGoodsInfoOwnerByName" resultMap="GoodsInfoOwnerResult">
        <include refid="selectGoodsInfoOwnerVo"/>
        where goods_name=#{goodsName} and create_by=#{createBy}
        <if test="id!=-1">
            and id != #{id}
        </if>
    </select>

    <select id="selectGoodsInfoOwnerByCode" resultMap="GoodsInfoOwnerResult">
        <include refid="selectGoodsInfoOwnerVo"/>
        where goods_code=#{goodsCode} and create_by=#{createBy}
        <if test="id!=-1">
            and id != #{id}
        </if>
    </select>
        
    <insert id="insertGoodsInfoOwner" parameterType="GoodsInfoOwner" useGeneratedKeys="true" keyProperty="id">
        insert into goods_info_owner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsCode != null  and goodsCode != ''">goods_code,</if>
            <if test="goodsName != null  and goodsName != ''">goods_name,</if>
            <if test="goodsViceDw != null  and goodsViceDw != ''">goods_vice_dw,</if>
            <if test="goodsDw != null  and goodsDw != ''">goods_dw,</if>
            <if test="goodsImg != null  and goodsImg != ''">goods_img,</if>
            <if test="goodsCodeImg != null  and goodsImg != ''">goods_code_img,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="goodsType != null ">goods_type,</if>
            <if test="goodsAddress != null  and goodsAddress != ''">goods_address,</if>
            <if test="goodsGg != null  and goodsGg != ''">goods_gg,</if>
            <if test="isSend != null ">is_send,</if>
            <if test="goodsNbCode != null  and goodsNbCode != ''">goods_nb_code,</if>
            <if test="goodsSptCode != null  and goodsSptCode != ''">goods_spt_code,</if>
            <if test="goodsAssistDw != null  and goodsAssistDw != ''">goods_assist_dw,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsCode != null  and goodsCode != ''">#{goodsCode},</if>
            <if test="goodsName != null  and goodsName != ''">#{goodsName},</if>
            <if test="goodsViceDw != null  and goodsViceDw != ''">#{goodsViceDw},</if>
            <if test="goodsDw != null  and goodsDw != ''">#{goodsDw},</if>
            <if test="goodsImg != null  and goodsImg != ''">#{goodsImg},</if>
            <if test="goodsCodeImg != null  and goodsImg != ''">#{goodsCodeImg},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="goodsType != null ">#{goodsType},</if>
            <if test="goodsAddress != null  and goodsAddress != ''">#{goodsAddress},</if>
            <if test="goodsGg != null  and goodsGg != ''">#{goodsGg},</if>
            <if test="isSend != null ">#{isSend},</if>
            <if test="goodsNbCode != null  and goodsNbCode != ''">#{goodsNbCode},</if>
            <if test="goodsSptCode != null  and goodsSptCode != ''">#{goodsSptCode},</if>
            <if test="goodsAssistDw != null  and goodsAssistDw != ''">#{goodsAssistDw},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateGoodsInfoOwner" parameterType="GoodsInfoOwner">
        update goods_info_owner
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsCode != null  and goodsCode != ''">goods_code = #{goodsCode},</if>
            <if test="goodsName != null  and goodsName != ''">goods_name = #{goodsName},</if>
            <if test="goodsViceDw != null  and goodsViceDw != ''">goods_vice_dw = #{goodsViceDw},</if>
            <if test="goodsDw != null  and goodsDw != ''">goods_dw = #{goodsDw},</if>
            <if test="goodsImg != null  and goodsImg != ''">goods_img = #{goodsImg},</if>
            <if test="goodsCodeImg != null  and goodsCodeImg != ''">goods_code_img = #{goodsCodeImg},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="goodsType != null ">goods_type = #{goodsType},</if>
            <if test="goodsAddress != null  and goodsAddress != ''">goods_address = #{goodsAddress},</if>
            <if test="goodsGg != null  and goodsGg != ''">goods_gg = #{goodsGg},</if>
            <if test="isSend != null ">is_send = #{isSend},</if>
            <if test="goodsNbCode != null  and goodsNbCode != ''">goods_nb_code=#{goodsNbCode},</if>
            <if test="goodsSptCode != null  and goodsSptCode != ''">goods_spt_code=#{goodsSptCode},</if>
            <if test="goodsAssistDw != null  and goodsAssistDw != ''">goods_assist_dw=#{goodsAssistDw},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGoodsInfoOwnerById" parameterType="Integer">
        delete from goods_info_owner where id = #{id}
    </delete>

    <delete id="deleteGoodsInfoOwnerByIds" parameterType="String">
        delete from goods_info_owner where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>