<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.LabelInfoMapper">
    
    <resultMap type="LabelInfo" id="LabelInfoResult">
        <result property="id"    column="id"    />
        <result property="mac"    column="mac"    />
        <result property="activekey"    column="activekey"    />
        <result property="storeid"    column="storeId"    />
        <result property="goodsCode"    column="goods_code"    />
        <result property="labelStatus"    column="label_status"    />
        <result property="gatewayMac"    column="gateway_mac"    />
        <result property="inch"    column="inch"    />
        <result property="battery"    column="battery"    />
        <result property="demoid"    column="demoId"    />
        <result property="status"    column="status"    />
        <result property="temperature"    column="temperature"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="demoName"    column="demo_name"    />
    </resultMap>

    <sql id="selectLabelInfoVo">
        select * from label_info
    </sql>
    <sql id="selectLabelInfoVoByRole">
        select a.*,(select dict_label from sys_dict_data where dict_value=a.demoId) as demo_name,
        (select goods_name from goods_info_owner where goods_code=a.goods_code and create_by=a.create_by) as goods_name
        from label_info a
        join sys_user u on a.create_by=u.user_name
        left join sys_dept d on u.dept_id = d.dept_id
    </sql>

    <select id="selectLabelInfoList" parameterType="LabelInfo" resultMap="LabelInfoResult">
        <include refid="selectLabelInfoVoByRole"/>
        <where>  
            <if test="mac != null  and mac != ''"> and mac = #{mac}</if>
            <if test="activekey != null  and activekey != ''"> and activekey = #{activekey}</if>
            <if test="storeid != null  and storeid != ''"> and storeId = #{storeid}</if>
            <if test="goodsCode != null  and goodsCode != ''"> and goods_code = #{goodsCode}</if>
            <if test="labelStatus != null "> and label_status = #{labelStatus}</if>
            <if test="gatewayMac != null  and gatewayMac != ''"> and gateway_mac = #{gatewayMac}</if>
            <if test="inch != null "> and inch = #{inch}</if>
            <if test="battery != null "> and battery = #{battery}</if>
            <if test="demoid != null  and demoid != ''"> and demoId = #{demoid}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="temperature != null  and temperature != ''"> and temperature = #{temperature}</if>
            ${dataScope}
        </where>
        order by a.create_time desc
    </select>
    
    <select id="selectLabelInfoById" parameterType="String" resultMap="LabelInfoResult">
        <include refid="selectLabelInfoVo"/>
        where id = #{id}
    </select>

    <select id="selectLabelInfoByGoodsCode" parameterType="String" resultMap="LabelInfoResult">
        <include refid="selectLabelInfoVo"/>
        where goods_code = #{goodsCode} and storeId=#{storeId}
        and label_status=1
    </select>

    <select id="checkLabel" parameterType="String" resultType="Integer">
        select count(id) from label_info
        where mac = #{mac}
        <if test="id!=null and id!=''">
            and id!=#{id}
        </if>
    </select>
        
    <insert id="insertLabelInfo" parameterType="LabelInfo">
        insert into label_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="mac != null  and mac != ''">mac,</if>
            <if test="activekey != null  and activekey != ''">activekey,</if>
            <if test="storeid != null  and storeid != ''">storeId,</if>
            <if test="goodsCode != null  and goodsCode != ''">goods_code,</if>
            <if test="labelStatus != null ">label_status,</if>
            <if test="gatewayMac != null  and gatewayMac != ''">gateway_mac,</if>
            <if test="inch != null ">inch,</if>
            <if test="battery != null ">battery,</if>
            <if test="demoid != null  and demoid != ''">demoId,</if>
            <if test="status != null ">status,</if>
            <if test="temperature != null  and temperature != ''">temperature,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="mac != null  and mac != ''">#{mac},</if>
            <if test="activekey != null  and activekey != ''">#{activekey},</if>
            <if test="storeid != null  and storeid != ''">#{storeid},</if>
            <if test="goodsCode != null  and goodsCode != ''">#{goodsCode},</if>
            <if test="labelStatus != null ">#{labelStatus},</if>
            <if test="gatewayMac != null  and gatewayMac != ''">#{gatewayMac},</if>
            <if test="inch != null ">#{inch},</if>
            <if test="battery != null ">#{battery},</if>
            <if test="demoid != null  and demoid != ''">#{demoid},</if>
            <if test="status != null ">#{status},</if>
            <if test="temperature != null  and temperature != ''">#{temperature},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateLabelInfo" parameterType="LabelInfo">
        update label_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="mac != null  and mac != ''">mac = #{mac},</if>
            <if test="activekey != null  and activekey != ''">activekey = #{activekey},</if>
            <if test="storeid != null  and storeid != ''">storeId = #{storeid},</if>
            <if test="goodsCode != null  and goodsCode != ''">goods_code = #{goodsCode},</if>
            <if test="labelStatus != null ">label_status = #{labelStatus},</if>
            <if test="gatewayMac != null  and gatewayMac != ''">gateway_mac = #{gatewayMac},</if>
            <if test="inch != null ">inch = #{inch},</if>
            <if test="battery != null ">battery = #{battery},</if>
            <if test="demoid != null  and demoid != ''">demoId = #{demoid},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="temperature != null  and temperature != ''">temperature = #{temperature},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <update id="updateLabelInfoByMac" parameterType="LabelInfo">
        update label_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="battery != null ">battery = #{battery},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="temperature != null  and temperature != ''">temperature = #{temperature},</if>
            update_time = sysdate()
        </trim>
        where mac = #{mac}
    </update>

    <update id="updateLabelInfoStatus" parameterType="String">
        update label_info set goods_code=null
        where goods_code in
        <foreach item="item" collection="goodsCodes" open="(" separator="," close=")">
            #{item}
        </foreach>
        and storeId=#{storeId}
    </update>

    <delete id="deleteLabelInfoById" parameterType="String">
        delete from label_info where id = #{id}
    </delete>

    <delete id="deleteLabelInfoByIds" parameterType="String">
        delete from label_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="bindGateWayMacs" parameterType="String">
        update  label_info set label_status=1 where mac in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>