<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.LeaseContractSalesMapper">

    <resultMap type="LeaseContractSales" id="LeaseContractResult">
        <result property="id" column="id"/>
        <result property="contractCode" column="contract_code"/>
        <result property="contractName" column="contract_name"/>
        <result property="ownerCode" column="owner_code"/>
        <result property="ownerName" column="owner_name"/>
        <result property="contractMoney" column="contract_money"/>
        <result property="signAddress" column="sign_address"/>
        <result property="signTime" column="sign_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="fileName" column="file_name"/>
        <result property="contractStatus"    column="contract_status"    />
    </resultMap>

    <sql id="selectLeaseContractVo">
        select (select a.owner_name from owner_info a where a.owner_code=owner_code) as owner_name,
        a.file_name,a.id, a.contract_code, a.contract_name, a.owner_code, a.contract_money, a.sign_address,
        a.sign_time, a.create_by, a.create_time, a.update_by, a.update_time, a.remark,a.contract_status from lease_contract_sales a
    </sql>

    <sql id="selectLeaseContractVoByRole">
        select (select a.owner_name from owner_info a where a.owner_code=owner_code) as owner_name,
        a.file_name,a.id, a.contract_code, a.contract_name, a.owner_code, a.contract_money, a.sign_address,
        a.sign_time, a.create_by, a.create_time, a.update_by, a.update_time, a.remark,a.contract_status from lease_contract_sales a
        join sys_user u on a.create_by=u.user_name
        left join sys_dept d on u.dept_id = d.dept_id
    </sql>

    <select id="selectLeaseContractSalesList" parameterType="LeaseContractSales" resultMap="LeaseContractResult">
        <include refid="selectLeaseContractVoByRole"/>
        <where>
            <if test="contractCode != null  and contractCode != ''">and contract_code = #{contractCode}</if>
            <if test="contractName != null  and contractName != ''">and contract_name like concat('%', #{contractName},
                '%')
            </if>
            <if test="ownerCode != null  and ownerCode != ''">and owner_code = #{ownerCode}</if>
            <if test="ownerName != null  and ownerName != ''">and owner_name like concat('%', #{ownerName}, '%')</if>
            <if test="contractMoney != null  and contractMoney != ''">and contract_money = #{contractMoney}</if>
            <if test="signAddress != null  and signAddress != ''">and sign_address = #{signAddress}</if>
            <if test="signTime != null  and signTime != ''">and sign_time = #{signTime}</if>
            ${dataScope}
        </where>
        order by a.create_time desc
    </select>

    <select id="selectLeaseContractById" parameterType="String" resultMap="LeaseContractResult">
        <include refid="selectLeaseContractVo"/>
        where id = #{id}
    </select>
    <select id="selectLeaseContractByCode" parameterType="String" resultMap="LeaseContractResult">
        <include refid="selectLeaseContractVo"/>
        where contract_code = #{code}
        <if test="id!=''">
            and id!=#{id}
        </if>
    </select>

    <insert id="insertLeaseContract" parameterType="LeaseContractSales">
        insert into lease_contract_sales
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="contractCode != null  and contractCode != ''">contract_code,</if>
            <if test="contractName != null  and contractName != ''">contract_name,</if>
            <if test="ownerCode != null  and ownerCode != ''">owner_code,</if>
            <if test="ownerName != null  and ownerName != ''">owner_name,</if>
            <if test="contractMoney != null  and contractMoney != ''">contract_money,</if>
            <if test="signAddress != null  and signAddress != ''">sign_address,</if>
            <if test="signTime != null  and signTime != ''">sign_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="fileName != null  and fileName != ''">file_name,</if>
            <if test="contractStatus != null  and contractStatus != ''">contract_status,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="contractCode != null  and contractCode != ''">#{contractCode},</if>
            <if test="contractName != null  and contractName != ''">#{contractName},</if>
            <if test="ownerCode != null  and ownerCode != ''">#{ownerCode},</if>
            <if test="ownerName != null  and ownerName != ''">#{ownerName},</if>
            <if test="contractMoney != null  and contractMoney != ''">#{contractMoney},</if>
            <if test="signAddress != null  and signAddress != ''">#{signAddress},</if>
            <if test="signTime != null  and signTime != ''">#{signTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="fileName != null  and fileName != ''">#{fileName},</if>
            <if test="contractStatus != null  and contractStatus != ''">#{contractStatus},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateLeaseContract" parameterType="LeaseContractSales">
        update lease_contract_sales
        <trim prefix="SET" suffixOverrides=",">
            <if test="contractCode != null  and contractCode != ''">contract_code = #{contractCode},</if>
            <if test="contractName != null  and contractName != ''">contract_name = #{contractName},</if>
            <if test="ownerCode != null  and ownerCode != ''">owner_code = #{ownerCode},</if>
            <if test="ownerName != null  and ownerName != ''">owner_name = #{ownerName},</if>
            <if test="contractMoney != null  and contractMoney != ''">contract_money = #{contractMoney},</if>
            <if test="signAddress != null  and signAddress != ''">sign_address = #{signAddress},</if>
            <if test="signTime != null  and signTime != ''">sign_time = #{signTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="contractStatus != null  and contractStatus != ''">contract_status=#{contractStatus},</if>
            file_name = #{fileName},
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLeaseContractById" parameterType="String">
        delete from lease_contract_sales where id = #{id}
    </delete>

    <delete id="deleteLeaseContractByIds" parameterType="String">
        delete from lease_contract_sales where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="updateLeaseContractStatus" parameterType="String">
        update lease_contract_sales set contract_status='已生效'  where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>