<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.RandomInspectionInfoChildMapper">
    
    <resultMap type="RandomInspectionInfoChild" id="RandomInspectionInfoChildResult">
        <result property="id"    column="id"    />
        <result property="goodsCode"    column="goods_code"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="ai"    column="AI"    />
        <result property="af"    column="AF"    />
        <result property="afAi"    column="AF_AI"    />
        <result property="inhibitionNum"    column="inhibition_num"    />
        <result property="checkResult"    column="check_result"    />
        <result property="djNumber"    column="dj_number"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="checkResultName"    column="check_result_name"    />
        <result property="ownerCode"    column="owner_code"    />
        <result property="ownerName"    column="owner_name"    />
        <result property="checkProject"    column="check_project"    />
        <result property="sampTime"    column="samp_time"    />
        <result property="testResult"    column="test_result"    />
        <result property="inhibitionNums"    column="inhibition_nums"    />

    </resultMap>

    <sql id="selectRandomInspectionInfoChildVo">
        select a.*,case a.check_result when 0 then '不合格' when 1 then '合格' end as check_result_name from random_inspection_info_child a
    </sql>

    <select id="selectRandomInspectionInfoChildList" parameterType="RandomInspectionInfoChild" resultMap="RandomInspectionInfoChildResult">
        <include refid="selectRandomInspectionInfoChildVo"/>
        <where>  
            <if test="goodsCode != null  and goodsCode != ''"> and goods_code = #{goodsCode}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="checkResult != null "> and check_result = #{checkResult}</if>
            <if test="af != null "> and AF = #{af}</if>
            <if test="afAi != null "> and AF_AI = #{afAi}</if>
            <if test="inhibitionNum != null "> and inhibition_num = #{inhibitionNum}</if>
            <if test="checkResult != null and checkResult!=-1 "> and check_result = #{checkResult}</if>
            <if test="djNumber != null  and djNumber != ''"> and dj_number = #{djNumber}</if>
            <if test="ownerCode != null  and ownerCode != ''"> and owner_code = #{ownerCode}</if>
            <if test="ownerName != null  and ownerName != ''"> and owner_name like concat('%', #{ownerName}, '%')</if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectRandomInspectionInfoAllList" parameterType="RandomInspectionInfoChild" resultMap="RandomInspectionInfoChildResult">
        select a.dj_time as test_result,a.id,b.goods_code,b.goods_name,b.inhibition_num,CONCAT(b.inhibition_num,'%') as inhibition_nums,b.check_result,b.dj_number,b.owner_code,b.owner_name,b.check_project,b.samp_time,b.remark
        ,case b.check_result when 0 then '不合格' when 1 then '合格' end as check_result_name from
        random_inspection_info a join random_inspection_info_child b
        on a.dj_number=b.dj_number
        join sys_user u on a.create_by=u.user_name
        left join sys_dept d on u.dept_id = d.dept_id
        <where>
            <if test="goodsCode != null  and goodsCode != ''"> and goods_code = #{goodsCode}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="checkResult != null "> and check_result = #{checkResult}</if>
            <if test="af != null "> and AF = #{af}</if>
            <if test="afAi != null "> and AF_AI = #{afAi}</if>
            <if test="inhibitionNum != null "> and inhibition_num = #{inhibitionNum}</if>
            <if test="checkResult != null and checkResult!=-1 "> and check_result = #{checkResult}</if>
            <if test="djNumber != null  and djNumber != ''"> and dj_number = #{djNumber}</if>
            <if test="ownerCode != null  and ownerCode != ''"> and owner_code = #{ownerCode}</if>
            <if test="ownerName != null  and ownerName != ''"> and owner_name like concat('%', #{ownerName}, '%')</if>
            ${dataScope}
        </where>
        order by a.dj_time desc
    </select>
    
    <select id="selectRandomInspectionInfoChildById" parameterType="String" resultMap="RandomInspectionInfoChildResult">
        <include refid="selectRandomInspectionInfoChildVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRandomInspectionInfoChild" parameterType="RandomInspectionInfoChild">
        insert into random_inspection_info_child
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="goodsCode != null  and goodsCode != ''">goods_code,</if>
            <if test="goodsName != null  and goodsName != ''">goods_name,</if>
            <if test="ai != null ">AI,</if>
            <if test="af != null ">AF,</if>
            <if test="afAi != null ">AF_AI,</if>
            <if test="inhibitionNum != null ">inhibition_num,</if>
            <if test="checkResult != null ">check_result,</if>
            <if test="djNumber != null  and djNumber != ''">dj_number,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="ownerCode != null  and ownerCode != ''">owner_code,</if>
            <if test="ownerName != null  and ownerName != ''">owner_name,</if>
            <if test="checkProject != null  and checkProject != ''">check_project,</if>
            <if test="sampTime != null  and sampTime != ''">samp_time,</if>
            <if test="testResult != null  and testResult != ''">test_result,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="goodsCode != null  and goodsCode != ''">#{goodsCode},</if>
            <if test="goodsName != null  and goodsName != ''">#{goodsName},</if>
            <if test="ai != null ">#{ai},</if>
            <if test="af != null ">#{af},</if>
            <if test="afAi != null ">#{afAi},</if>
            <if test="inhibitionNum != null ">#{inhibitionNum},</if>
            <if test="checkResult != null ">#{checkResult},</if>
            <if test="djNumber != null  and djNumber != ''">#{djNumber},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="ownerCode != null  and ownerCode != ''">#{ownerCode},</if>
            <if test="ownerName != null  and ownerName != ''">#{ownerName},</if>
            <if test="checkProject != null  and checkProject != ''">#{checkProject},</if>
            <if test="sampTime != null  and sampTime != ''">#{sampTime},</if>
            <if test="testResult != null  and testResult != ''">#{testResult},</if>
         </trim>
    </insert>

    <update id="updateRandomInspectionInfoChild" parameterType="RandomInspectionInfoChild">
        update random_inspection_info_child
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsCode != null  and goodsCode != ''">goods_code = #{goodsCode},</if>
            <if test="goodsName != null  and goodsName != ''">goods_name = #{goodsName},</if>
            <if test="ai != null ">AI = #{ai},</if>
            <if test="af != null ">AF = #{af},</if>
            <if test="afAi != null ">AF_AI = #{afAi},</if>
            <if test="inhibitionNum != null ">inhibition_num = #{inhibitionNum},</if>
            <if test="checkResult != null ">check_result = #{checkResult},</if>
            <if test="djNumber != null  and djNumber != ''">dj_number = #{djNumber},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="ownerCode != null  and ownerCode != ''">owner_code = #{ownerCode},</if>
            <if test="ownerName != null  and ownerName != ''">owner_name = #{ownerName},</if>
            <if test="checkProject != null  and checkProject != ''">check_project = #{checkProject},</if>
            <if test="sampTime != null  and sampTime != ''">samp_time = #{sampTime},</if>
            <if test="testResult != null  and testResult != ''">test_result = #{testResult},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRandomInspectionInfoChildById" parameterType="String">
        delete from random_inspection_info_child where id = #{id}
    </delete>

    <delete id="deleteRandomInspectionInfoChildByIds" parameterType="String">
        delete from random_inspection_info_child where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteRandomInspectionInfoChildByPid" parameterType="String">
        delete from random_inspection_info_child where dj_number in (select dj_number from random_inspection_info
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        )
    </delete>
    
</mapper>