<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.TestApplicationFormChildMapper">
    
    <resultMap type="TestApplicationFormChild" id="TestApplicationFormChildResult">
        <result property="id"    column="id"    />
        <result property="goodsCode"    column="goods_code"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="ai"    column="AI"    />
        <result property="af"    column="AF"    />
        <result property="afAi"    column="AF_AI"    />
        <result property="inhibitionNum"    column="inhibition_num"    />
        <result property="checkResult"    column="check_result"    />
        <result property="djNumber"    column="dj_number"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="ownerCode"    column="owner_code"    />
        <result property="ownerName"    column="owner_name"    />
        <result property="checkProject"    column="check_project"    />
        <result property="sampTime"    column="samp_time"    />
        <result property="testResult"    column="test_result"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectTestApplicationFormChildVo">
        select * from test_application_form_child
    </sql>

    <select id="selectTestApplicationForm" parameterType="TestApplicationFormChild" resultMap="TestApplicationFormChildResult">
        select a.status,a.id,a.create_time,b.goods_code,b.goods_name,b.inhibition_num,
        b.check_result,b.check_project,b.samp_time
        from test_application_form a join test_application_form_child b
        on a.dj_number=b.dj_number
        <where>
            <if test="createBy != null  and createBy != ''"> and a.create_by = #{createBy}</if>
            <if test="goodsCode != null  and goodsCode != ''"> and goods_code = #{goodsCode}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="status != null and status != -1 "> and b.check_result = #{status}</if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectTestApplicationFormChildList" parameterType="TestApplicationFormChild" resultMap="TestApplicationFormChildResult">
        <include refid="selectTestApplicationFormChildVo"/>
        <where>  
            <if test="goodsCode != null  and goodsCode != ''"> and goods_code = #{goodsCode}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="ai != null "> and AI = #{ai}</if>
            <if test="af != null "> and AF = #{af}</if>
            <if test="afAi != null "> and AF_AI = #{afAi}</if>
            <if test="inhibitionNum != null "> and inhibition_num = #{inhibitionNum}</if>
            <if test="checkResult != null "> and check_result = #{checkResult}</if>
            <if test="djNumber != null  and djNumber != ''"> and dj_number = #{djNumber}</if>
            <if test="ownerCode != null  and ownerCode != ''"> and owner_code = #{ownerCode}</if>
            <if test="ownerName != null  and ownerName != ''"> and owner_name like concat('%', #{ownerName}, '%')</if>
            <if test="checkProject != null  and checkProject != ''"> and check_project = #{checkProject}</if>
            <if test="sampTime != null  and sampTime != ''"> and samp_time = #{sampTime}</if>
            <if test="testResult != null  and testResult != ''"> and test_result = #{testResult}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectTestApplicationFormChildById" parameterType="String" resultMap="TestApplicationFormChildResult">
        <include refid="selectTestApplicationFormChildVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTestApplicationFormChild" parameterType="TestApplicationFormChild">
        insert into test_application_form_child
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="goodsCode != null  and goodsCode != ''">goods_code,</if>
            <if test="goodsName != null  and goodsName != ''">goods_name,</if>
            <if test="ai != null ">AI,</if>
            <if test="af != null ">AF,</if>
            <if test="afAi != null ">AF_AI,</if>
            <if test="inhibitionNum != null ">inhibition_num,</if>
            <if test="checkResult != null ">check_result,</if>
            <if test="djNumber != null  and djNumber != ''">dj_number,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="ownerCode != null  and ownerCode != ''">owner_code,</if>
            <if test="ownerName != null  and ownerName != ''">owner_name,</if>
            <if test="checkProject != null  and checkProject != ''">check_project,</if>
            <if test="sampTime != null  and sampTime != ''">samp_time,</if>
            <if test="testResult != null  and testResult != ''">test_result,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="goodsCode != null  and goodsCode != ''">#{goodsCode},</if>
            <if test="goodsName != null  and goodsName != ''">#{goodsName},</if>
            <if test="ai != null ">#{ai},</if>
            <if test="af != null ">#{af},</if>
            <if test="afAi != null ">#{afAi},</if>
            <if test="inhibitionNum != null ">#{inhibitionNum},</if>
            <if test="checkResult != null ">#{checkResult},</if>
            <if test="djNumber != null  and djNumber != ''">#{djNumber},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="ownerCode != null  and ownerCode != ''">#{ownerCode},</if>
            <if test="ownerName != null  and ownerName != ''">#{ownerName},</if>
            <if test="checkProject != null  and checkProject != ''">#{checkProject},</if>
            <if test="sampTime != null  and sampTime != ''">#{sampTime},</if>
            <if test="testResult != null  and testResult != ''">#{testResult},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateTestApplicationFormChild" parameterType="TestApplicationFormChild">
        update test_application_form_child
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsCode != null  and goodsCode != ''">goods_code = #{goodsCode},</if>
            <if test="goodsName != null  and goodsName != ''">goods_name = #{goodsName},</if>
            <if test="ai != null ">AI = #{ai},</if>
            <if test="af != null ">AF = #{af},</if>
            <if test="afAi != null ">AF_AI = #{afAi},</if>
            <if test="inhibitionNum != null ">inhibition_num = #{inhibitionNum},</if>
            <if test="checkResult != null ">check_result = #{checkResult},</if>
            <if test="djNumber != null  and djNumber != ''">dj_number = #{djNumber},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="ownerCode != null  and ownerCode != ''">owner_code = #{ownerCode},</if>
            <if test="ownerName != null  and ownerName != ''">owner_name = #{ownerName},</if>
            <if test="checkProject != null  and checkProject != ''">check_project = #{checkProject},</if>
            <if test="sampTime != null  and sampTime != ''">samp_time = #{sampTime},</if>
            <if test="testResult != null  and testResult != ''">test_result = #{testResult},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTestApplicationFormChildById" parameterType="String">
        delete from test_application_form_child where id = #{id}
    </delete>

    <delete id="deleteTestApplicationFormChildByIds" parameterType="String">
        delete from test_application_form_child where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>