<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.WholeRetailMapper">
    
    <resultMap type="WholeRetail" id="WholeRetailResult">
        <result property="id"    column="id"    />
        <result property="khCode"    column="kh_code"    />
        <result property="wholeType"    column="whole_type"    />
        <result property="djNumber"    column="dj_number"    />
        <result property="djTime"    column="dj_time"    />
        <result property="khName"    column="kh_name"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="from"    column="from"    />
        <result property="djStatusName"    column="dj_status_name"    />
    </resultMap>

    <sql id="selectWholeRetailVo">
        select a.*,case a.status when 0 then '正操作' when 1 then '已生效' end as dj_status_name  from whole_retail a
    </sql>

    <sql id="selectWholeRetailVoByRole">
        select a.*,case a.status when 0 then '正操作' when 1 then '已生效' end as dj_status_name from whole_retail a
         join sys_user u on a.create_by=u.user_name
        left join sys_dept d on u.dept_id = d.dept_id
    </sql>

    <select id="selectWholeRetailList" parameterType="WholeRetail" resultMap="WholeRetailResult">
        <include refid="selectWholeRetailVoByRole"/>
        <where>
            <if test="createBy != null  and createBy != ''"> and a.create_by = #{createBy}</if>
            <if test="khCode != null  and khCode != ''"> and kh_code = #{khCode}</if>
            <if test="wholeType != null "> and whole_type = #{wholeType}</if>
            <if test="djNumber != null  and djNumber != ''"> and dj_number = #{djNumber}</if>
            <if test="djTime != null  and djTime != ''"> and dj_time = #{djTime}</if>
            <if test="khName != null  and khName != ''"> and kh_name like concat('%', #{khName}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="from != null "> and `from` = #{from}</if>
            ${dataScope}
        </where>
        order by a.create_time desc
    </select>
    
    <select id="selectWholeRetailById" parameterType="String" resultMap="WholeRetailResult">
        <include refid="selectWholeRetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWholeRetail" parameterType="WholeRetail">
        insert into whole_retail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="khCode != null  and khCode != ''">kh_code,</if>
            <if test="wholeType != null ">whole_type,</if>
            <if test="djNumber != null  and djNumber != ''">dj_number,</if>
            <if test="djTime != null  and djTime != ''">dj_time,</if>
            <if test="khName != null  and khName != ''">kh_name,</if>
            <if test="status != null ">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="from != null ">`from`,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="khCode != null  and khCode != ''">#{khCode},</if>
            <if test="wholeType != null ">#{wholeType},</if>
            <if test="djNumber != null  and djNumber != ''">#{djNumber},</if>
            <if test="djTime != null  and djTime != ''">#{djTime},</if>
            <if test="khName != null  and khName != ''">#{khName},</if>
            <if test="status != null ">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="from != null ">#{from},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateWholeRetail" parameterType="WholeRetail">
        update whole_retail
        <trim prefix="SET" suffixOverrides=",">
            <if test="khCode != null  and khCode != ''">kh_code = #{khCode},</if>
            <if test="wholeType != null ">whole_type = #{wholeType},</if>
            <if test="djNumber != null  and djNumber != ''">dj_number = #{djNumber},</if>
            <if test="djTime != null  and djTime != ''">dj_time = #{djTime},</if>
            <if test="khName != null  and khName != ''">kh_name = #{khName},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="from != null ">`from` = #{from},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWholeRetailById" parameterType="String">
        delete from whole_retail where id = #{id}
    </delete>

    <delete id="deleteWholeRetailByIds" parameterType="String">
        delete from whole_retail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="updateWholeRetailStatus" parameterType="String">
        update whole_retail set status='1'  where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    
</mapper>