<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.info.mapper.CheckInfoMapper">
    
    <resultMap type="CheckInfo" id="CheckInfoResult">
        <result property="id"    column="id"    />
        <result property="djNumber"    column="dj_number"    />
        <result property="djTime"    column="dj_time"    />
        <result property="djStatus"    column="dj_status"    />
        <result property="storeNum"    column="store_num"    />
        <result property="checkStartTime"    column="check_start_time"    />
        <result property="checkEndTime"    column="check_end_time"    />
        <result property="storeName"    column="store_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCheckInfoVo">
        select id, dj_number, dj_time, dj_status, store_num, check_start_time, check_end_time, store_name, create_by, create_time, update_by, update_time, remark from check_info
    </sql>
    <sql id="selectCheckInfoVoByRole">
        select a.* from check_info a
        join sys_user u on a.create_by=u.user_name
        left join sys_dept d on u.dept_id = d.dept_id
    </sql>

    <select id="selectCheckInfoList" parameterType="CheckInfo" resultMap="CheckInfoResult">
        <include refid="selectCheckInfoVoByRole"/>
        <where>  
            <if test="djNumber != null  and djNumber != ''"> and dj_number = #{djNumber}</if>
            <if test="djTime != null  and djTime != ''"> and dj_time = #{djTime}</if>
            <if test="djStatus != null "> and dj_status = #{djStatus}</if>
            <if test="storeNum != null  and storeNum != ''"> and store_num = #{storeNum}</if>
            <if test="checkStartTime != null  and checkStartTime != ''"> and check_start_time = #{checkStartTime}</if>
            <if test="checkEndTime != null  and checkEndTime != ''"> and check_end_time = #{checkEndTime}</if>
            <if test="storeName != null  and storeName != ''"> and store_name like concat('%', #{storeName}, '%')</if>
            ${dataScope}
        </where>
        order by a.create_time desc
    </select>
    
    <select id="selectCheckInfoById" parameterType="String" resultMap="CheckInfoResult">
        <include refid="selectCheckInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCheckInfo" parameterType="CheckInfo">
        insert into check_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="djNumber != null  and djNumber != ''">dj_number,</if>
            <if test="djTime != null  and djTime != ''">dj_time,</if>
            <if test="djStatus != null ">dj_status,</if>
            <if test="storeNum != null  and storeNum != ''">store_num,</if>
            <if test="checkStartTime != null  and checkStartTime != ''">check_start_time,</if>
            <if test="checkEndTime != null  and checkEndTime != ''">check_end_time,</if>
            <if test="storeName != null  and storeName != ''">store_name,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="djNumber != null  and djNumber != ''">#{djNumber},</if>
            <if test="djTime != null  and djTime != ''">#{djTime},</if>
            <if test="djStatus != null ">#{djStatus},</if>
            <if test="storeNum != null  and storeNum != ''">#{storeNum},</if>
            <if test="checkStartTime != null  and checkStartTime != ''">#{checkStartTime},</if>
            <if test="checkEndTime != null  and checkEndTime != ''">#{checkEndTime},</if>
            <if test="storeName != null  and storeName != ''">#{storeName},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateCheckInfo" parameterType="CheckInfo">
        update check_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="djNumber != null  and djNumber != ''">dj_number = #{djNumber},</if>
            <if test="djTime != null  and djTime != ''">dj_time = #{djTime},</if>
            <if test="djStatus != null ">dj_status = #{djStatus},</if>
            <if test="storeNum != null  and storeNum != ''">store_num = #{storeNum},</if>
            <if test="checkStartTime != null  and checkStartTime != ''">check_start_time = #{checkStartTime},</if>
            <if test="checkEndTime != null  and checkEndTime != ''">check_end_time = #{checkEndTime},</if>
            <if test="storeName != null  and storeName != ''">store_name = #{storeName},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCheckInfoById" parameterType="String">
        delete from check_info where id = #{id}
    </delete>

    <delete id="deleteCheckInfoByIds" parameterType="String">
        delete from check_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="updateCheckStatus" parameterType="String">
        update check_info set dj_status='1'  where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    
</mapper>